.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.filters button {
    font-size: 18px;
    color: white;
    background-color: #FF5A5F;
    height: 48px;
    border: 0px;
    border-radius: 4px;
    width: 20%;
    margin-right: 30px;
    margin-left: auto;
    opacity: 1;
}

section.filters button:hover {
    opacity: 0.9;
}

.locations {
    height: 100%;
    width: 25%;
}

.locations {
    border-right: 1px solid #DDDDDD;
    width: 25%;
}

.locations h3, .amenities h3 {
    font-weight: 600;
    margin: 12px 0 5px 0;
    padding-left: 25%;
    width: 25%;
}


.locations:hover, .amenities:hover, li:hover{
    cursor: pointer;
}

.popover li  {
    text-decoration: none;
    color: #6e6d6d;
    background-color: #f8f7f7;
    display: block;
}

.amenities .popover li  {
    margin-left: 40px;
}

.popover {
    margin: 0;
    padding: 0;
    color: #FAFAFA;
    background-color: #f8f7f7;
    width: 250px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: none;
    position: relative;
}

li {
    margin: 10px;
}

.amenities:hover .popover, .locations:hover .popover {
    display: block;
} 