.price_by_night {
    color: #FF5A5F;
    border-radius: solid #FF5A5F 4px;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    align-items: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 33px
;
}

.places {
    text-align: center;
}

.place {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: solid #FF5A5F 1px;
    border-radius: 4px;
    display: inline-block;
}

.infomation {
    height: 80px;
    border-top: #DDDDDD 1px;
    border-bottom: #DDDDDD 1px;
    display: flex;
    align-items: center;
}

.infomation div {
    width: 100px;
}